

<!DOCTYPE html> 
<html>
 <body>
  <div class="head"> 
  <div class="container"> 
    <ul class="pull-left"> 
      <h2>Fantasy Football</h2> 
    </ul>   </div> </div>  <div class="nav"> 
  <div class="container"> 
    <ul class="pull-left"> 
      <li><a href="#">Play Now</a></li> 
      <li><a href="#">Players</a></li> 
      <li><a href="#">Leader Boards</a></li> 
    </ul> 
    <ul class="pull-right"> 
      <% @users.each do |user| %>
      <p>User: <%=link_to user.name, user %></p>
      <% end %>
      <li><a href="#">Help</a></li> 
    </ul>   </div> </div>  <div class="well content"> 
  <div class="container"> 
    <div class="row"></div> 
    <div class="col-md-6"> 
      <h1>Create Your Own Team Now</h1> 
      <p>Pick from over 100 players. Challenge your friends to a game.</p> 
      <a href="#">Learn More</a> 
    </div>       <div class="col-md-6"> 
    <div class="leaderboard"> 
      <img src="http://assets.sbnation.com/assets/1617429/Pick_6_week_7.jpg?_ga=1.29094076.1215026589.1481062102" height="450" width="400"/> 
    </div> 
  </div> 
  </div> 
</div>
 </div>
  <div class="learn-more"> 
  <div class="container"> 
    <h2>How to Play</h2> 

    <div class="row"> 
      <div class="col-md-4"> 
        <h3>1. Create a game</h3> 
        <ul> 
          <li>             Choose your sport: 
            <ul> 
              <li>                 Football 
              </li> 
              <li>                 Basketball 
              </li> 
            </ul> 
          </li> 
        </ul> 
      </div>  
      <div class="col-md-4"> 
        <h3>2. Invite/Challenge a Friend</h3> 
        <ul> 
          <li>             Invite a new friend:  
            <uL> 
              <li>                 Type in their email address 
              </li> 
              <li>                 We'll send them a link to play 
              </li> 
            </uL> 
          </li> 
        </ul> 
      </div>  
      <div class="col-md-4"> 
        <h3>3. Pick your Team and Play</h3> 
        <ul> 
          <li>             Use Strategy to draft your players:  
            <ul> 
              <li>                 We give you a set budget to draft with. 
              </li> 
              <li>                 Players are priced based on how good they are. 
              </li> 
            </ul> 
          </li> 
        </ul> 
      </div>  
    </div> 
  </div>
   </div> 
</body>
 </html>