<!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container">
       <h1>Create Your Own Team Now</h1>
       <p>Pick from over 100 players. Challenge your friends to a game.</p>
       <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
     </div>
   </div>

   <div class="container">
     <!-- Example row of columns -->
     <div class="row">
       <div class="col-md-4">
         <h2>Start a Game</h2>
         <p>Choose your sport!</p>
         <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
       <div class="col-md-4">
         <h2>Invite a Friend</h2>
         <p>Invite your friends and challenge their knowledge of fantasy sports!</p>
         <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
       <div class="col-md-4">
         <h2>Pick your Team</h2>
         <p>Select from a list of players and create the next CHAMPIONSHIP team!</p>
         <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
     </div>

     <hr>

     <footer>
       <p>&copy; This is a CAPSTONE project created at PLU.</p>
     </footer>
   </div> <!-- /container -->

 
