<div class="jumbotron vertical-center">
  <div class="container" id="center">

      <div class="form-group">
        <div class="btn-group btn-group-lg col-md-12 " role="group" aria-label="...">
          <button type="button" class="btn btn-default">Football</button>
          <button type="button" class="btn btn-default">Basketball</button>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group col-md-12 form-group">
          <input type="text" class="form-control" placeholder="Recipient's Email" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">@example.com</span>
        </div>
      </div>


    </div>
  </div>
</div>
