@import "bootstrap-sprockets";
@import "bootstrap";
  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require jquery-ui/draggable
 *= require jquery-ui/resizable
 *= require jquery-ui/selectable
 *= require jquery-ui/sortable
 *= require_tree .
 *= require_self
 */
#navbar{
  color: white;
  background-color: #878787;

}

.navbar-default .navbar-nav > li > a {
 color: white; /*Change active text color here*/
  }

  .navbar-default .navbar-header > a {
   color: white; /*Change active text color here*/
    }

body{
  background-color: #878787;
}

.jumbotron{
  margin-top: 25px;
  min-height: 600px;
  background-color: #dce4f2;
}

.btn-group{
  min-width: 50%;
  vertical-align: middle;
  padding: 5px;
  margin: 10px 10px 10px 0px;
}

#flash_notice, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}
#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}
#flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

navbar{
  border-color: #101010;
  background-color: #AF7072;
}

#gamesTab .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#gamesTab .tab-content {
  font-size: 15px;
  color : black;
  background-color: #428bca;
  padding : 5px 15px;
  height: 350px;
  width: 550px;
  border-radius: 0 0 4px 4px ;
  overflow-y:scroll;

}

#gamewrap{
  margin: 5px;
  padding:5px;
  width:  330px;
  height: 450px;
  background-color: #dce4f2;
  font-size: 10px;

}
#games{
  margin: 5px;
  padding:5px;
  width:  330px;
  height: 425px;
  background-color: #dce4f2;
  overflow: scroll;
  font-size: 10px;

}

#gameList{
  font-size: 10px;
  overflow: scroll;
}

#budget{
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

#title {
  padding: 5px;
  margin: 5px;
  width: 475px;
  height: 450;
  font-size: 25px;
  font-weight: bold;
  color: #606f84;
  background-color: #dce4f2;

}

.players {
  width: 450px;
  height: 58px;
  margin-left: 5px;
  background-color: #2959a0;
  border-radius: 4px;
  overflow: scroll;

}

#playerTable{
  height: 450px;
  margin: 5px;
  overflow: scroll;
  background-color: white;
}

#resultTable{
  height: 325px;
  margin: 5px;
  overflow: scroll;
}


.draft-page {
  width: 450px;
  height: 450px;
}

#drop_zone {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 450px;
    height: 450px;
    border: 1px solid black;
}

#playerList{
  font-size: 15px;
}


#droppableTest{
  width: 150px;
  height: 150px;
  padding: 0.5em;
  float:left;
  margin: 10px;
  background-color: blue;
}

#draggableTest{
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
  background-color: grey;
}
