// Place all the styles related to the fantasy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.head{
  color: #a58c8c;
  background-color: rgba(123,125,136,1);
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav a {
  color: black;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.content {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a58c8c;
}

.jumbotron .container {
  background-color: black;
  color: black;
  position: relative;
  top:300px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #a58c8c;
}

.learn-more a {
  color: #00b0ff;
}

leaderboard{
  position: relative;
  left:  200px;
}
